.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

.intro {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}
